.Pokedex {
  position: absolute;
  -webkit-user-select: none; /* Safari, Chrome */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE */
  user-select: none; /* CSS3 */
}

.Screen {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 5px;
  position: absolute;
  width: 190px;
  height: 270px;
  background-color: #45FF27;
  top: 125px;
  left: 350px;
}

.Description {
  overflow-wrap: break-word;
  overflow:hidden;
  position: absolute;
  font-family: 'Comic Sans MS';
  font-size: 10px;
  font-weight: bold;
  height: 265px;
  width: 190px;
  font-family: 'Comic Sans MS';
  margin: 0px;
}

.TypeScreen {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  font-family: 'Comic Sans MS';
  border-radius: 5px;
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: yellow;
  top: 340px;
  left: 65px;
  overflow-wrap: break-word;
  overflow:hidden;
}

.TypeScreen .Type {
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.Portrait {
  position: absolute;
  background-color: black;
  top: 116px;
  left: 40px;
}

.Portrait img {
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px; 
  position: absolute;
  width: 205px;
  height: 140px;
}

.BlinkingButtons button {
  position: absolute;
  top: 7px;
  left: 88px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 5px;
}

.BlinkingButtons button:focus {
  outline: none;
}

#redButton {

}

#yellowButton {
  margin-left: 25px;
}

#greenButton {
  margin-left: 50px;
}

#blueButton {
  left: 28px;
  top: 8px;
  height: 55px;
  width: 55px;
}